.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.header, .printer-info {
    text-align: center;
}

.progress-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.progress-bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress-bar {
    width: 270px;
    height: 25px;
    background-color: #ccc;
    margin-bottom: 10px;
    position: relative;
}

.fill {
    height: 100%;
    background-color: #4CAF50;
}

.label {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.label span {
    margin-right: 5px;
}

.controls {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    width: 350px;
    font-size: 24px;
}

.control-button {
    padding: 8px;
    font-size: 14px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    flex: 1;
    margin: 0 5px;
}

.control-button:hover {
    background-color: #45a049;
}

#printerData {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: left;
    width: 250px;
    height: 80px;
    font-size: 16px;
}

.grey-button {
    background-color: #cccccc;
    color: #666;
    width: 100px;
    height: 20px;
    margin-top:20px;
}