<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>3D Printer Simulator</title>
</head>

<body>
    <div class="dashboard">
        <div class="header">
            <h1>3D Printer Simulator</h1>
        </div>
        <div class="printer-info">
            <h2>Printer Information</h2>
            <p id="printerData">Waiting for data...</p>
        </div>
        <div class="progress-container">
            <div class="progress-bar-container">
                <div class="label">
                    <span>Temperature</span>
                    <span id="temperatureValue">0 °C</span>
                </div>
                <div class="progress-bar" id="temperatureProgress">
                    <div class="fill" id="temperatureFill"></div>
                </div>

                <div class="label">
                    <span>Fan Speed</span>
                    <span id="fanSpeedValue">0 %</span>
                </div>
                <div class="progress-bar" id="fanSpeedProgress">
                    <div class="fill" id="fanSpeedFill"></div>
                </div>

                <div class="label">
                    <span>Print Progress</span>
                    <span id="printProgressValue">0 %</span>
                </div>
                <div class="progress-bar" id="printProgress">
                    <div class="fill" id="printProgressFill"></div>
                </div>

                <div class="label">
                    <span>Left Filament</span>
                    <span id="leftFilamentValue">0 %</span>
                </div>
                <div class="progress-bar" id="leftFilamentProgress">
                    <div class="fill" id="leftFilamentFill"></div>
                </div>
            </div>
        </div>
        <div class="controls">
            <button class="control-button" onclick="sendControlCommand('pause')">Pause</button>
            <button class="control-button" onclick="sendControlCommand('continue')">Continue</button>
            <button class="control-button" onclick="sendControlCommand('stop')">Stop</button>
            <button class="control-button" onclick="sendControlCommand('start')">Print</button>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.3/socket.io.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
